@import url('./fifthCard.scss');
@import url('./fifthCards.scss');

.fifth{
    text-align: center;
    position: relative;

    &__title{
        color: #F59E0B;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title img{
        margin-bottom: 8px;
    }
    &__name{
        color: #1B1C57;
        font-weight: 600;
        font-size: 32px;
        text-align: center;
        margin-bottom: 25px;
    }
    &__button{
        color: white;
        padding: 12px 16px;
        font-weight: 600;
        font-size: 14px;
        background-color: #10B981;
        border-radius: 32px;
    }

    &-back{
        position: absolute;
        left: 0;
        top: -170px;
        z-index: -1
    }
}