@import url('./heroInput.scss');

.hero-con{
    max-width: 506px;
}

.hero{
    &__title{
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
        color: #1B1C57;
        text-transform: capitalize;
        margin-bottom: 25px;
    }
    &__text{
        color: #626687;
        font-size: 16px;
        line-height: 28px
    }
}

.hero-partner{
    &__text{
        font-size: 16px;
        color: #888B97;
        margin-bottom: 10px;
    }
    &__list{
        display: flex;
        align-items: center;
    }
    &__item{
        margin-right: 32px;
    }
    &__item:last-child{
        margin-right: 0;
    }
}

.hero-container{
    padding: 45px 0 92px 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    // url('../public/img/Imghero.svg') no-repeat right 0px,
}

.back-hero{
    position: absolute;
    top: 0;
    right: -14%;
    z-index: -1;

    & img{
        min-width: 110%;
    }
}