.header-container__nav{
    margin-right: 54px;
    color: white;

    &__list{
        display: flex;
        align-items: center;
    }
    &__item{
        background: rgba(255, 255, 255, 0.10);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 30px;
        margin-right: 24px;
        font-size: 14px;
    }
    &__item a{
        color: white;
        padding: 8px 16px;
        display: block;
    }
    &__item:last-child{
        display: flex;
        margin: 0;
        padding: 8px 16px;
        position: relative;
        cursor: pointer;
    }
    &__button{
        margin-left: 14px;
        align-self: start;
        cursor: pointer;
    }
}

.header-container__nav{
    &__more__list{
        position: absolute;
        right: 0;
        bottom: -105px;
        text-align: center;
        width: 100%;
        opacity: 0;
        transform: translateY(-3px);
        transition: 0.3s;
    }
    &__more__list.active{
        opacity: 1;
        transform: translateY(0px);
    }
    &__more__item a{
        color: white;
        padding: 4px 0;
    }
    &__more__item{
        font-size: 14px;
        background: rgba(255, 255, 255, 0.10);
        border: 1px solid rgba(255, 255, 255, 0.30);
        border-radius: 22px;
        margin: 5px 0;
    }
}