@import url('./headerNav.scss');

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo{
        display: flex;
        align-items: center;
    }
    &__text{
        margin-left: 12px;
        color: #0E1735;
        font-weight: 700;
        font-size: 16px;
    }
    &__right{
        display: flex;
        align-items: center;
    }
    &__button__sign{
        font-size: 14px;
        font-weight: 600;
        color: #047857;
        background-color: #D1FAE5;
        padding: 12px 25px;
        border-radius: 32px;
    }
}

.header{
    padding-bottom: 100px;
}