@import url('./secondNav.scss');

.second-top{
    &__title{
        display: flex;
        color: #F59E0B;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 12px;
    }
    &__title img{
        margin-right: 10px;
    }
    &__name{
        color: #1B1C57;
        font-size: 32px;
        font-weight: 600;
        margin-left: 40px;
    }
}

.second-top__scroll{
    align-self: end;

    &__button{
        color: #3C4563;
        background-color: #E0E3EB;
        padding: 17px 26px;
        border-radius: 32px;
        margin-right: 16px;
    }
    &__button:last-child{
        margin: 0;
    }
}